@media screen and (min-width: 1200px) { /*frame 1*/
    .garfield {width:400px; height:133px; background:url(garfield.gif) 0 0px;}}

@media screen and (min-width: 1100px) and (max-width: 1200px) { /*frame 2*/
    .garfield {width:200px; height:133px; background:url(garfield.gif) -400px 0;}}

@media screen and (min-width: 1000px) and (max-width: 1100px){ /*frame 3*/
    .garfield {width:200px; height:133px; background:url(garfield.gif) 0 -132px;}}

@media screen and (min-width: 900px) and (max-width: 1000px){ /* 4 */
    .garfield {width:200px; height:133px; background:url(garfield.gif) -200px -132px;}}

@media screen and (min-width: 800px) and (max-width: 900px){ /* 5 */
    .garfield {width:200px; height:133px; background:url(garfield.gif) -400px -132px;}}

@media screen and (min-width: 700px) and (max-width: 800px){ /* 6 */
    .garfield {width:200px; height:133px; background:url(garfield.gif) 0 -265px;}}

@media screen and (min-width: 600px) and (max-width: 700px){ /* 7 FIX */
    .garfield {width:200px; height:133px; background:url(garfield.gif) -200px -265px:}}

@media screen and (max-width: 600px) { /* 8 */
    .garfield {width:200px; height:133px; background:url(garfield.gif) -400px -265px;}}
